<%= form_for(@article) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Новая статья" %>
  </div>
  <%= f.submit "Добавить", class: "btn btn-large btn-primary" %>
<% end %>