<div class="center hero-unit">
  <h1>Олькин бложик</h1>
<p>Статьи</p>


<%= link_to 'Все статьи', class: "btn btn-large btn-primary", controller: 'articles'%><br> <br>
<%= link_to 'Все пользователи', class: "btn btn-large btn-primary", controller: 'users'%><br> <br>
 <% if signed_in? %>
<%= link_to 'Новый пользователь', new_user_path %>
 <% else %>
<% end%>
</div>

<%= link_to image_tag("batman.png", alt: "Batman-pikachu"), '#' %>


