<footer class="footer">
  <small>
    <a href="https://vk.com/sova_bos">by Kakao</a>
    
  </small>
  <nav>
    <ul>
      <li><%= link_to "О нас", about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
      <li><a href="http://vk.com/">Новости</a></li>
    </ul>
  </nav>
</footer>